# NPM
npm-debug.log

# git
.git
.gitattributes
.gitignore

# vscode
.vscode

# RC files
.eslintrc.json
.prettierrc.json
.lint-stagedrc.json

# ignore files
.prettierignore

#config files
tsconfig.json
babel.config.js

# github
.github

# husky
.husky

# core and tests
src
__test__
