# npm
npm-debug.log

# git
.git
.gitattributes
.gitignore

# vscode
.vscode

# RC files
.eslintrc.json
.prettierrc.json
.lintstagedrc.json

# ignore files
.prettierignore

# config files
tsconfig.json
babel.config.js
.editorconfig

# github
.github

# husky
.husky

# core and tests
src
__test__

# jest
coverage
