# prettier
.prettierignore

# npm
npm-debug.log
.npmignore

# git
.git
.gitattributes
.gitignore

# node
node_modules

# husky
.husky

# config files
.editorconfig

# build output
dist

# jest
coverage